<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="new-politician">
    <input type="text" id="new-name" placeholder="Skriv navn">
    <input type="text" id="new-party" placeholder="Skriv parti id">
    <button id="btn-create-politician">hey</button>
</div>

<table hidden>
        <thead>
        <tr>
            <td>Id</td>
            <td>Partinavn</td>
            <td>Stemmer</td>
            <td>Politikere</td>
        </tr>
        </thead>
        <tbody id="party-table">
        </tbody>
        <tbody id="party-politician"></tbody>
</table>

<br><br><br>

<table >
        <thead>
        <tr>
            <td>Navn</td>
            <td>Parti</td>
        </tr>
        </thead>
        <tbody id="politician-table">
        </tbody>
</table>

<div>

</div>


</body>
</html>

<script>
    function localCache() {
        let politicians = []
        let parties = []

        return {
            populatePoliticians: (all) => politicians = all,
            populateParties: (all) => parties = all,
            getPoliticians: () => politicians,
            getParties: () => parties
        }
    }

    function setUpHandlers() {
        document.getElementById("btn-create-politician").onclick = savePolitician;
    }
    setUpHandlers()

    const URL = "http://localhost:8080"
    const cache = localCache()
    fetchParties()
    fetchPoliticians()

    function fetchParties() {
        fetch(URL + "/parties")
            .then(response => response.json())
            .then(data => {
                    cache.populateParties(data)
                    buildPartyRows()
                    console.log(data)
                }
            )
    }

    function fetchPoliticians() {
        fetch(URL + "/politicians")
            .then(response => response.json())
            .then(data => {
                cache.populatePoliticians(data)
                buildPoliticianRows()
                console.log(data)
            })
    }

    function buildPoliticianRows() {
        const politicians = cache.getPoliticians()
        const rows = politicians.map(politicians => {
            return `<tr id="politician">
            <td>${politicians.name}</td>
            <td>${politicians.party.name}</td>
        </tr>`;
        })
        document.getElementById("politician-table").innerHTML = rows.join("")
    }

    function buildPartyRows() {
        const parties = cache.getParties()
        const rows = parties.map(parties => {
            return `<tr id="parties">
            <td>${parties.id}</td>
            <td>${parties.name}</td>
            <td>${parties.votes}</td>
        </tr>`;
        })
        document.getElementById("party-table").innerHTML = rows.join("")
    }

    function deletePolitician() {

    }

    function savePolitician() {
        let politician = {
            name: document.getElementById("new-name").value,
            party: {
                id: document.getElementById("new-party").value
            }
        }

        const options = {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(politician)
        }
        console.log(politician)

        fetch(URL + "/new-politician", options)
            .then(response => response.json())
            .then(() => {
                fetchPoliticians()
            })
    }

</script>